
<ion-content>
<ion-slides pager="true">
  <ion-slide class="slide-one">
    <ion-img src="/assets/icon/favicon.png"></ion-img>
    <h1>Register App true </h1>
    <p class="labelIntro">With ionic for mobile</p>
    <span> Daniel AC can help u in all</span>
  </ion-slide>
  <ion-slide class="slide-two">
    <ion-img src="/assets/icon/favicon.png"></ion-img>
   
    <p class="labelIntro">Daniel AC alright</p>
    <ion-button color="success" (click)="openLogin()">get login</ion-button>
  </ion-slide>
</ion-slides>
</ion-content>
